$black: rgb(0,0,0);
$white: rgb(255,255,255);
$grey: rgb(100,100,100);
$yellow: rgb(255,255,0);
$darker-yellow: rgb(255,220,80);
$question-answers-gradient: linear-gradient(90deg, rgba(0,34,144,1) 2%, rgba(1,13,167,1) 17%, rgba(0,80,226,1) 30%, rgba(8,82,190,1) 47%, rgba(2,41,164,1) 55%, rgba(18,4,150,1) 66%, rgba(0,3,157,1) 79%, rgba(103,120,247,1) 98%);
$orange: rgb(205,135,0);
$light-green: rgb(0,255,100);
$light-green-correct: rgb(100,255,100);
$red-incorrect: rgb(255,30,0);