@import 'src/style/mixins/mixins';

.Lifebuoys {
  @include flex-center-center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media screen and (min-width: 1100px){
  .Lifebuoys {
    margin-top: 0;
  }
}
